# -*- coding: utf-8 -*-
"""
@Description:
@Date       : 2024/6/16 16:09
@Author     : lkkings
@FileName:  : app.py
@Github     : https://github.com/lkkings
@Mail       : lkkings888@gmail.com
-------------------------------------------------
Change Log  :

"""
from typing import AsyncGenerator, List, Union, Tuple, Dict

from fake_useragent import UserAgent
from fastspider import Crawler, CrawlerTask, Response, Request, Field, Item, UniqueItem
from fastspider.logger import logger

crawler = Crawler(name='pikwizard', bloom_size=1000000)
crawler.init(thread_num=5, max_core_num=1000)


@crawler.item()
class ImageInfo(UniqueItem):
    width = Field()
    height = Field()
    title = Field()
    url = Field()
    keywords = Field()
    description = Field()
    added_at = Field()


@crawler.task(retries=3, priority=0)
class BaiduCrawler(CrawlerTask):
    HEADERS = {}

    URL = ''

    @classmethod
    def load_tasks(cls, **params) -> List[Union[str, tuple]]:
        pass

    async def request(self, task, **params) -> Request:
        pass

    async def parse(self, response: Response, **params) -> AsyncGenerator[Dict, None]:
        yield {}


if __name__ == '__main__':
    crawler.run()
